/*=Theme Options */

.admin-exp{
   margin-left: 20px;
   padding-right: 10px;
}


.desgintable input{
    float:left;
}

.wpestate-tab-wrapper-container{
    float:left;
      background: #ececec;
      border: 1px solid #ccc;
}


.wpestate-tab-wrapper{
    width:200px;
    height:100%;
    float:left;
}



.ourlogo{
    width:100%;
    float:left;
    height: 95px;
}

.ourlogo img{
    margin:28px 0px 0px 20px;
}
.wpestate-tab-item{
    width:100%;
    padding: 0px; 
    float:left;
    font-size: 14px;
    font-family: 'Arial';
    font-style: normal;
    box-sizing: border-box;
    -moz-box-sizing: border-box;    
    z-index: 100;
    position: relative;
    border-bottom: 1px solid #ddd;
    cursor:pointer;
}

.wpestate-tab-item:hover{
    background-color: #f1f1f1;
}

.wpestate-tab-item:hover a{
     color:#45b37e;
}


.wpestate-tab-item a{
    text-decoration: none;
    color: #1a171b;
    line-height: 22px;
    padding: 13px 0px 5px 15px;
    width: 185px;
    float: left;
    min-height: 30px;    
}



.wpestate-tab-active{
   background-color: #FCFCFC;
    width: 101%;
}

.wpestate-tab-active a{
      color:#45b37e;
}

.wpestate-tab-container{
    height:100%;
    min-height: 800px;
    width:690px;
    float:left;
    border-left:1px solid #ccc;
    background-color: #FCFCFC;
    z-index: 10;
    position: relative;
    padding-right: 20px
}


.wpestate-tabh1{
    color: #1a171b;
    font-size: 25px;
    font-weight: normal;
    margin: 37px 20px 20px 20px;
}

.wpestate-tab-container .form-table{
    margin-left: 10px;
    color: #1a171b!important;
}


/*=Page Options */

.metacustom label{
    width:100%;
    float: left
}

.metacustom{
    float:left;
    width:33%;
    margin-bottom: 22px;
}

.field_item{
    float:left;
    width:135px;
    margin-right:20px;
}

.field_row{
    margin-bottom: 25px;
    float: left;
    width:100%;
}

.deletefieldlink{
    margin-top: 25px;
    float: left;
}



#custom_fields{
    float:left;
    margin: 10px 10px 30px 10px;
}



#add_field{
    margin: 10px 0px 30px 242px;
    float: left;
    background-color: #4ecb8f;
    color: #fff;
    padding: 10px;
    text-decoration: none;
}

.submit{
    clear:both;
}

.memebership_row{
    width: 100%;
    float: left;
    margin-bottom: 5px;
}

.memebership_item{
   width:200px;
   margin: 10px 0px 0px 0px;
   float:left;
}

.memebership_item label{
    width:100%;
}

#new_membership{
    width: 86px;
    height: 20px;
    float: left;
    padding: 6px 10px 0px 10px;
    background-color: #ccc;
    margin-top: 25px;
    cursor: pointer;
}

.submit_membership{
    clear: both;
    float: left;
}

#sample_member_row{
   display:none; 
}

.memebership_alert{
    padding: 8px;
    background-color: #fffbcc;
    margin: 4px;
    width: 375px;
}

.remove_pack{
    margin-top: 30px;
    float: left;
    cursor: pointer;
}

.memeber_title{
    margin: 30px 0px 0px 0px;
    float:left;
}



/* =MailChimp
----------------------------------------------- */

#mc_embed_signup,
.indicates-required,
.mc-field-group,
.mce-responses,
.response,
#mce-responses .clear{
    display:block!important;
}
/* Patterns admin
/////////////////////////////////////////////////////////////////////////////////////*/


.colorpicker {
    width: 356px;
    height: 176px;
    overflow: hidden; 
    position: absolute;
    background: url(css-images/colorpicker_background.png);
    font-family: Arial, Helvetica, sans-serif;
    display: none;
    
}

.colorpicker_color {
    width: 150px;
    height: 150px;
    left: 14px;
    top: 13px;
    position: absolute;
    background: #f00;
    overflow: hidden;
    cursor: crosshair;
}

.colorpicker_color div {
    position: absolute;
    top: 0;
    left: 0;
    width: 150px;
    height: 150px;
    background: url(css-images/colorpicker_overlay.png);
}

.colorpicker_color div div {
    position: absolute;
    top: 0;
    left: 0;
    width: 11px;
    height: 11px;
    overflow: hidden;
    background: url(css-images/colorpicker_select.gif);
    margin: -5px 0 0 -5px;
}

.colorpicker_hue {

    position: absolute;

    top: 13px;

    left: 171px;

    width: 35px;

    height: 150px;

    cursor: n-resize;

}

.colorpicker_hue div {

    position: absolute;

    width: 35px;

    height: 9px;

    overflow: hidden;

    background: url(css-images/colorpicker_indic.gif) left top;

    margin: -4px 0 0 0;

    left: 0px;

}

.colorpicker_new_color {

    position: absolute;

    width: 60px;

    height: 30px;

    left: 213px;

    top: 13px;

    background: #f00;

}

.colorpicker_current_color {

    position: absolute;

    width: 60px;

    height: 30px;

    left: 283px;

    top: 13px;

    background: #f00;

}

.colorpicker input {

    background-color: transparent;

    border: 1px solid transparent;

    position: absolute;

    font-size: 10px;

    font-family: Arial, Helvetica, sans-serif;

    color: #898989;

    top: 4px;

    right: 11px;

    text-align: right;

    margin: 0;

    padding: 0;

    height: 11px;

}

.colorpicker_hex {

    position: absolute;

    width: 72px;

    height: 22px;

    background: url(css-images/colorpicker_hex.png) top;

    left: 212px;

    top: 142px;

}

.colorpicker_hex input {

    right: 6px;

}

.colorpicker_field {

    height: 22px;

    width: 62px;

    background-position: top;

    position: absolute;

}

.colorpicker_field span {

    position: absolute;

    width: 12px;

    height: 22px;

    overflow: hidden;

    top: 0;

    right: 0;

    cursor: n-resize;

}

.colorpicker_rgb_r {

    background-image: url(css-images/colorpicker_rgb_r.png);

    top: 52px;

    left: 212px;

}

.colorpicker_rgb_g {

    background-image: url(css-images/colorpicker_rgb_g.png);

    top: 82px;

    left: 212px;

}

.colorpicker_rgb_b {

    background-image: url(css-images/colorpicker_rgb_b.png);

    top: 112px;

    left: 212px;

}

.colorpicker_hsb_h {

    background-image: url(css-images/colorpicker_hsb_h.png);

    top: 52px;

    left: 282px;

}

.colorpicker_hsb_s {

    background-image: url(css-images/colorpicker_hsb_s.png);

    top: 82px;

    left: 282px;

}

.colorpicker_hsb_b {

    background-image: url(css-images/colorpicker_hsb_b.png);

    top: 112px;

    left: 282px;

}

.colorpicker_submit {

    position: absolute;

    width: 22px;

    height: 22px;

    background: url(css-images/colorpicker_submit.png) top;

    left: 322px;

    top: 142px;

    overflow: hidden;

}

.colorpicker_focus {

    background-position: center;

}

.colorpicker_hex.colorpicker_focus {

    background-position: bottom;

}

.colorpicker_submit.colorpicker_focus {

    background-position: bottom;

}

.colorpicker_slider {

    background-position: bottom;

}









.colorpicker {
    width: 356px;
    height: 176px;
    overflow: hidden;
    position: absolute;
    background: url(css-images/colorpicker_background.png);
    font-family: Arial, Helvetica, sans-serif;
    display: none;
    z-index:99;
}
.colorpicker_color {
    width: 150px;
    height: 150px;
    left: 14px;
    top: 13px;
    position: absolute;
    background: #f00;
    overflow: hidden;
    cursor: crosshair;
}
.colorpicker_color div {
    position: absolute;
    top: 0;
    left: 0;
    width: 150px;
    height: 150px;
    background: url(css-images/colorpicker_overlay.png);
}
.colorpicker_color div div {
    position: absolute;
    top: 0;
    left: 0;
    width: 11px;
    height: 11px;
    overflow: hidden;
    background: url(css-images/colorpicker_select.gif);
    margin: -5px 0 0 -5px;
}
.colorpicker_hue {
    position: absolute;
    top: 13px;
    left: 171px;
    width: 35px;
    height: 150px;
    cursor: n-resize;
}
.colorpicker_hue div {
    position: absolute;
    width: 35px;
    height: 9px;
    overflow: hidden;
    background: url(css-images/colorpicker_indic.gif) left top;
    margin: -4px 0 0 0;
    left: 0px;
}
.colorpicker_new_color {
    position: absolute;
    width: 60px;
    height: 30px;
    left: 213px;
    top: 13px;
    background: #f00;
}
.colorpicker_current_color {
    position: absolute;
    width: 60px;
    height: 30px;
    left: 283px;
    top: 13px;
    background: #f00;
}
.colorpicker input {
    background-color: transparent;
    border: 1px solid transparent;
    position: absolute;
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
    color: #898989;
    top: 4px;
    right: 11px;
    text-align: right;
    margin: 0;
    padding: 0;
    height: 11px;
}
.colorpicker_hex {
    position: absolute;
    width: 72px;
    height: 22px;
    background: url(css-images/colorpicker_hex.png) top;
    left: 212px;
    top: 142px;
}
.colorpicker_hex input {
    right: 6px;
}
.colorpicker_field {
    height: 22px;
    width: 62px;
    background-position: top;
    position: absolute;
}
.colorpicker_field span {
    position: absolute;
    width: 12px;
    height: 22px;
    overflow: hidden;
    top: 0;
    right: 0;
    cursor: n-resize;
}
.colorpicker_rgb_r {
    background-image: url(css-images/colorpicker_rgb_r.png);
    top: 52px;
    left: 212px;
}
.colorpicker_rgb_g {
    background-image: url(css-images/colorpicker_rgb_g.png);
    top: 82px;
    left: 212px;
}
.colorpicker_rgb_b {
    background-image: url(css-images/colorpicker_rgb_b.png);
    top: 112px;
    left: 212px;
}
.colorpicker_hsb_h {
    background-image: url(css-images/colorpicker_hsb_h.png);
    top: 52px;
    left: 282px;
}
.colorpicker_hsb_s {
    background-image: url(css-images/colorpicker_hsb_s.png);
    top: 82px;
    left: 282px;
}
.colorpicker_hsb_b {
    background-image: url(css-images/colorpicker_hsb_b.png);
    top: 112px;
    left: 282px;
}
.colorpicker_submit {
    position: absolute;
    width: 22px;
    height: 22px;
    background: url(css-images/colorpicker_submit.png) top;
    left: 322px;
    top: 142px;
    overflow: hidden;
}
.colorpicker_focus {
    background-position: center;
}
.colorpicker_hex.colorpicker_focus {
    background-position: bottom;
}
.colorpicker_submit.colorpicker_focus {
    background-position: bottom;
}
.colorpicker_slider {
    background-position: bottom;
}
.colorpickerHolder{
    height:30px;
    left:0;
    top:0;
    width:36px;
    float:left;
}

.colorpickerHolder div{
    background:transparent url(css-images/select2.png) repeat scroll center center;
    height:28px;
    left:4px;
    top:4px;
    width:28px;
}
#colorpickertable .inptxt{width:70px;}
#colorpickertable .clp{width:250px;padding-left:15px;}




/*=======================================================================

    Tabs
    
 ========================================================================*/

.tabs { 
    display: block;
    width:700px;
    margin-top:30px;
    border:1px solid #CCC;
}

.tabs ul {
    margin: 0;
    padding: 0;
    height: 20px;
    border-bottom: 1px solid #CCC;
}

.tabs li {
    display: block;
    width:200px;
    padding: 0;
    margin: 0 10px 0 0;
    line-height: 30px;
    float: left;
    color: #999;
    cursor: default;
}

.tabs li a {
    display: block;
    width: auto;
    height: 29px;
    padding: 0 9px;
    line-height: 30px;
    border: 1px solid #CCC;
    margin: 0 -1px 0 0;
    color: #05390a;
    background: #5dbb73;
    text-decoration: none;
}

.tabs li a:hover {
    text-decoration: none;
}

.tabs li.active a {
    height: 30px;
    font-weight: bold;
    background: #ebffef;
    border-width: 1px 1px 0 1px;
}

.tabs div {
    display: none;
    padding: 20px 10px;
}

#googleMap > div{
    display: block;
} 

#googleMap > div div{
    display: block;
} 
/*  */

#tabsys input[type="text"],#tabpat input[type="text"]{	
    float: left;
    display: inline;
}

#tabsys .colorpickerHolder,#tabpat .colorpickerHolder{
    display: inline;
    float:left;
    padding:0px;

}
#tabsys .sqcolor,#tabpat .sqcolor{
    display: block;
    padding:0px;
}

/* 
.tabs tabadmin {
               display: none;
padding: 20px 10px;
       }
*/	

.tabs div.active {
    display: block;
}

.tabs li:last-child {
    margin-right: 0;
}

/**** Pretty Tab Styles ****/

.pretty.tabs ul {
    display: table;
    width: 100%;
    border: 1px solid #CCC;
    background: #f7f7f7;


}

.pretty.tabs li {
    display: table-cell;
    float: none;
    text-align: center;
}

.pretty.tabs li a {
    padding: 0;
    font-size: 14px;
    height: 52px;
    line-height: 52px;
    color: #444;
    border: none;
    border-right: 1px solid #CCC;
    font-weight: bold;
    background: transparent;
}

.pretty.tabs li:last-child a {
    border-right: none;
}

.pretty.tabs li.active a {
    font-weight: bold;
    color: #fff;
    position: relative;
    border: none;
    background: #D74142; /* Old browsers */


}

.pretty.tabs ul li.active:first-child a {

    margin-left: 0; 
}

.pretty.tabs ul li.active:last-child a {

}

.ie7 .pretty.tabs > ul { width: 100%; height: 51px; }
.ie7 .pretty.tabs > ul li { display: block; float: left; margin: 0; }
.ie7 .pretty.tabs > ul li a { padding: 0 20px; }



/**** Pill Tabs ****/

.pill.tabs { height: auto; }
.pill.tabs li, .pill.tabs li, .pretty.pill.tabs li { float: none; height: auto; }
.pill.tabs li a { display: block; width: auto; height: auto; padding: 15px 20px; line-height: 1; border: solid 0 #ccc; border-width: 1px 1px 0; margin: 0; color: #555; background: #eee; font-size: 15px; font-size: 1.5rem; }
.pill.tabs li a.active { height: auto; margin: 0; border-width: 1px 0 0; background: #fff; }

.pretty.pill.tabs { border-bottom: solid 1px #eee; height: auto; }
.pretty.pill.tabs li a { padding: 15px 20px; border: none; border-left: 1px solid #eee; border-right: 1px solid #eee; border-top: 1px solid #eee; background: #fff; }
.pretty.pill.tabs li a.active { border: none; background: #00a6fc; color: #fff; margin: 0; position: static; top: 0; height: auto; }
.pretty.pill.tabs li.active:first-child a { margin: 0; }


@media only screen and (max-width: 767px) {
    .pretty.tabs ul {

        overflow: hidden;
    }

    .pretty.tabs li a {
        height: 36px;
        line-height: 36px;
        font-size: 14px;
    }
}

/* Vertically Align Stuff */

.valign { display: table; width: 100%; }

.valign > div, .valign > article { display: table-cell; vertical-align: middle; }






/*3.8 update*/

.form-table, .form-table td, .form-table th, .form-table td p, .form-wrap label{
    font-size: 13px;
    font-weight: normal;
}

textarea, input, select {
    font-size: 13px;
}

.field_item input{
    width:125px;
}

#add_status,
#add_feature{
    margin: 10px 0px 30px 0px;
    float: left;
    background-color: #4ecb8f;
    color: #fff;
    padding: 10px;
    text-decoration: none;
}

#estate_property-googlemap input[type=text],
#estate_property-custom input[type=text],
#estate_property-propdetails input[type=text],
#estate_property-sectionid input[type=text]{
        width:250px;
}

#estate_property-googlemap textarea,
#estate_property-custom textarea,
#estate_property-propdetails textarea,
#estate_property-sectionid textarea{
        width:250px;
}


.advsearchlable{
    margin-left: 10px;
}


/*=booking-css
---------------------------------------------------------------------------------*/
.invoice_wrapper{
    height: 30px;
    margin-top: 25px;
}

.invoiced_paid{
    padding:10px;
    background-color: #009933;
    color:#fff;
}

.invoiced_issued{
     padding:10px;
    background-color: #FF3333;
    color:#fff;
}